body {
  margin: 0;
}

a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.gameinfo-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.logo{
    color: rgb(119, 193, 89);
}

.gameinfo-header {
  overflow: visible;
  background-color: white;
}

  .gameinfo-header .material-icons {
    color: #767777 !important;
  }

  .gameinfo-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .gameinfo-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .gameinfo-navigation-container {
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .gameinfo-navigation {
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
  }

   .gameinfo-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .gameinfo-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }


main{
    background-color: rgb(243, 243, 243);
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  font-size: 12px!important;
  margin: 10px;
  float: left;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

#pagination{
    display: inline;
    width: 100%;
    float: left;
}
.app-name{
    font-size: 14px!important;
}

.all-games-wrapper{
    width: 91%;
    display: inline-block;
    margin: 0 auto;
}
.description{
    float: left;
    margin: 10px 0 10px 0;
}

.categories{
    float: left;
    margin: 10px 0 10px 0;
}
.botom-line{
    float: left;
    margin: 10px 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.headre-image{
    float: left;
    display: inline-block;
    width: 50%;
}
.description-text{
    float: right;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 47%;
    color: #000;
}

.game-detail-wrapper{
    width: 90%;
    display: inline-block;
    margin: 0 auto;
}
.game-detail-wrapper .mdl-card{
    width: auto;
}

.mdl-button{
    margin-left: 3px;
}
.screenshoots img{
    display: inline-block;
    width: 20%;
}

.coments-card-wrapper{
    width: 50%;
    display: inline-block;
    margin: 0 auto;
}
.coments-card-wrapper .mdl-card{
    width: auto;
}
.input-wrapper{
    margin: 5px;
}
.input-wrapper input,textarea{
    width: 100%;
}

.input-wrapper label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
